/* ===== RESET ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== VARIABLES ===== */
:root {
  --text: #f3c481;
  --background: #000;
  --primary: #309f0f;
  --secondary: #2deb5d;
  --accent: #2deb5d;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  background: var(--text);
  color: var(--text);
  line-height: 1.6;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* filter menu */
.filter-menu-button {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  grid-column: 1/-1;
  overflow: auto;
  white-space: nowrap;
}

.filter-menu-button > button {
  padding: 0.8rem;
  background-color: var(--background);
  border: none;
  border-radius: 1rem;
  color: var(--text);
}

.filter-menu-button button.active {
  background-color: var(--primary);
}

/* menu section */
.menu-section {
  display: grid;
  gap: 0.1rem;
  padding: 0.1rem;
  grid-template-columns: 1fr;
}

@media (width>=425px) {
  .menu-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width>=768px) {
  .menu-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width>=1024px) {
  .menu-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* menu card */
.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--background);
  border-radius: 0.3rem;
}

/* menu card image */
.menu-card img {
  max-width: 100%;
  aspect-ratio: 1/1;
  height: auto; /* force same height */
  object-fit: cover;
}

@media (width>=768px) {
  .menu-card img {
    height: 250px; /* force same height */
  }
}

/* menu card text info */
.menu-card > h3,
div {
  text-align: center;
}

.menu-card > div {
  font-size: 1.1rem;
}

@media (width>=425px) {
  .menu-card > div {
    font-size: 0.8rem;
  }

  .menu-card > h3 {
    font-size: 1rem;
  }
}
